<!DOCTYPE html>
<html>
  <head>
  
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <!--this will list out the movies from the json file from the surver-->
  <h1 style="color:blue">List of the movie rented</h1>
    <h3> <%= data%></h3>
  <h1 style="color:blue">List of the movie</h1>
  <h3> <%= data2%></h3>
    
  </body>
</html>
